#Kreuztabellen und Pivot-Tabellen

### DataFrame importieren

In [ ]:
import pandas as pd

# URL der Farhzeugfrequenzen nach Fahrzeugtyp
url = 'https://raw.githubusercontent.com/OJanz/PKW-Frequenzen/main/Frequenzen%20nach%20Fahrzeugtyp.csv'

# Daten in Pandas Data Frame einlesen
df = pd.read_csv(url)

# Die ersten fünf Datensätze ausgeben
print(df.head())
print(df.shape)



---

**PROPMT:** Kreuztabelle: Ich habe ein Pandas Dataframe mit folgenden Feldern:
- Tag
- Wochentag
- Kalenderwoche
- Autobahn
- Fz-Typ
- Fahrzeuge

Ich möchte in Python eine Kreuztabelle erstellen, die in den Spalten die unterschiedlichen Fahrzeugtypen (Fz-Typ) darstellt und in den Zeilen die unterschiedlichen Autobahnen (Autobahn). In den Zellen der Kreuztabelle soll die durchschnittliche Anzahl Fahrzeuge ausgewiesen werden (Fahrzeuge).


Bitte erstelle ein Codebeispiel in Python.



---

In [ ]:
# Create the cross table
cross_table = pd.pivot_table(df, values='Fahrzeuge', index='Autobahn', columns='Fz-Typ', aggfunc='mean')

# Print the cross table
print(cross_table)

Problem: Die Werte sind aufgrund der Nachkommastellen schwer lesbar.

---
**PROMPT:** Ich nutze folgenden Code um eine Kreuztabelle auszugeben. Wie schaffe ich es, dass die Werte ohne Nachkommastellen angezeigt werden?

Hier der Code:

cross_table = pd.pivot_table(df, values='Fahrzeuge', index='Autobahn', columns='Fz-Typ', aggfunc='mean')

print(cross_table)

---

In [ ]:
# Set the display format
pd.options.display.float_format = '{:,.0f}'.format

print(cross_table)

#A U F G A B E

Erstelle eine Pivot-Tabelle im Notebook, die die maximal gezählte Anzahl Fahrzeuge je Fahrzeugtyp und Autobahn berechnet. Gebe das Ergbnis am Bildschirm aus.

Bitte eine KI um Hilfe.